*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins';
}

:root{
    --clr: #222327;

}

body {
    /* display: flex; */
    /*justify-content: center;
    align-items: center;  */
    min-height: 100vh;
    background: var(--clr) ;
    
}

.header{
display: flex;
justify-content: left;
padding-top:2.7em;
}
.nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:25em;
    height: 6em;   
    background-color: #fff;
    border-radius: 2em;
}

.nav ul {
    display: flex;
    width: 25em;
}
.nav ul li {
    position: relative;
    list-style-type: none;
    width: 10em;
    height: 2.5em;
    z-index: 1;
}
.nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    width: 87%;
}
.nav ul li a .icon  {
    position: relative;
    display: block;
    line-height: 1.7em;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.nav ul li.active a .icon {
    transform: translateY(-2.4em);
}

.nav ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 1em;
    padding: 0.05em;
    /* letter-spacing: 0.05em; */
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);

}
.nav ul li.active a .text{
    transform: translateY(10px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: rgb(167, 116, 197);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before{
    content: ' ';
    position: absolute;
    top:70%;
    left: -16px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow:  1px -10px 0 0 var(--clr);
}
.indicator::after{
    content: ' ';
    position: absolute;
    top: 70%;
    right:  -16px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow:  0px -10px 0 0 var(--clr);
}

.nav ul li:nth-child(1).active ~ .indicator {
transform: translateX(calc(5em*0));
}

.nav ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(5em*1));
}
.nav ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(5em*2));
}
.nav ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(5em*3));
}
.nav ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(5em*4));
}







